.header-container{
	background-color: #fff;
	border-bottom: solid 1px rgb(232,232,232);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header-container ul{
	display: flex;
    align-content: center;
    justify-content: flex-end;
    list-style-type:none;
}

.header-container li{
	border: solid 1px rgb(65,173,221);
	border-radius: 5px;
	padding: 5px 10px;
	margin:8px;
	color: rgb(65,173,221);
	text-decoration: none;
	font-size: 18px;
}

.header-container li a:hover{
	text-decoration: none;
}

.header-container li:hover a{
	color:#fff;
}

.header-container li:hover{
	background-color: rgb(65,173,221);
	cursor: pointer;
}
.header-container li a:focus{
	text-decoration: none;
	outline: none;
}

.title{
	margin:0;
	font-size: 25px;
}