.register-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:50px;
	width: 100%;
}

.register-container label{
	width: 100%;
}

.title-register{
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
	border-bottom: solid 1px rgb(232,232,232);
	padding-bottom: 10px;
}