.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:50px;
	width: 100%;
}

.login-container label{
	width: 100%;
}

.form-container{
	width: 30%;
	background-color: #fff;
	border: solid 1px rgb(232,232,232);
	border-radius: 6px;
	padding: 20px;
}
.form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.extend{
	display: block;
	color: rgb(117,117,161);
	font-weight: normal;
}

.title-login{
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
	border-bottom: solid 1px rgb(232,232,232);
	padding-bottom: 10px;
}

.input{
	color: rgb(117,117,161);
	width: 100%;
	border: none;
	border-bottom: solid 1px rgb(232,232,232);
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 18px;
}

.input-submit{
	border: none;
	background-color: rgb(65,173,221);
	border-radius: 5px;
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	margin: 20px 0;
}

.input-submit:hover{
	background-color:transparent;
	color: rgb(65,173,221);
	border: solid 1px rgb(65,173,221);
	transition: all 100ms;
	-webkit-transition: all 100ms;
}